In [2]:
from numpy import mean
from numpy import std
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
df = pd.read_excel('Algerian_forest_fires_dataset_UPDATE.xlsx')
df.head(10)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
5,6,6,2012,31,67,14,0,82.6,5.8,22.2,3.1,7,2.5,fire
6,7,6,2012,33,54,13,0,88.2,9.9,30.5,6.4,10.9,7.2,fire
7,8,6,2012,30,73,15,0,86.6,12.1,38.3,5.6,13.5,7.1,fire
8,9,6,2012,25,88,13,0.2,52.9,7.9,38.8,0.4,10.5,0.3,not fire
9,10,6,2012,28,79,12,0,73.2,9.5,46.3,1.3,12.6,0.9,not fire

In [3]:
len(df)

247

In [5]:
X = df.drop('Classes',axis=1)
y = df['Classes']

In [6]:
X = X.drop('day',axis=1)
X = X.drop('month',axis=1)
X = X.drop('year',axis=1)
X

    Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI   BUI  FWI
0            29  57  18     0  65.7  3.4   7.6  1.3   3.4  0.5
1            29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4
2            26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1
3            25  89  13   2.5  28.6  1.3   6.9    0   1.7    0
4            27  77  16     0  64.8    3  14.2  1.2   3.9  0.5
..          ...  ..  ..   ...   ...  ...   ...  ...   ...  ...
242          30  65  14     0  85.4   16  44.5  4.5  16.9  6.5
243          28  87  15   4.4  41.1  6.5     8  0.1   6.2    0
244          27  87  29   0.5  45.9  3.5   7.9  0.4   3.4  0.2
245          24  54  18   0.1  79.7  4.3  15.2  1.7   5.1  0.7
246          24  64  15   0.2  67.3  3.8  16.5  1.2   4.8  0.5

[247 rows x 10 columns]

In [7]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
y == label_encoder.fit_transform(y)

0      False
1      False
2      False
3      False
4      False
       ...
242    False
243    False
244    False
245    False
246    False
Name: Classes, Length: 247, dtype: bool

In [14]:
pd.to_numeric(X['Temperature'], errors='coerce')
X

    Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI   BUI  FWI
0            29  57  18     0  65.7  3.4   7.6  1.3   3.4  0.5
1            29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4
2            26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1
3            25  89  13   2.5  28.6  1.3   6.9    0   1.7    0
4            27  77  16     0  64.8    3  14.2  1.2   3.9  0.5
..          ...  ..  ..   ...   ...  ...   ...  ...   ...  ...
242          30  65  14     0  85.4   16  44.5  4.5  16.9  6.5
243          28  87  15   4.4  41.1  6.5     8  0.1   6.2    0
244          27  87  29   0.5  45.9  3.5   7.9  0.4   3.4  0.2
245          24  54  18   0.1  79.7  4.3  15.2  1.7   5.1  0.7
246          24  64  15   0.2  67.3  3.8  16.5  1.2   4.8  0.5

[247 rows x 10 columns]

In [19]:
from sklearn import preprocessing
d = preprocessing.normalize(X, axis=0)
X = pd.DataFrame(d)
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.065191,-0.022143,0.018773,0.068596,-0.051731,0.114027,0.002541,-0.063743,0.072825,0.046015,-0.006812,-0.110167,-0.013212,-0.024688,-0.009707,0.075195,0.070259,-0.124448,-0.073353,0.093800
1,-0.047831,-0.000038,-0.016681,0.086383,-0.144973,0.082437,0.054213,-0.050288,0.094190,-0.009537,0.001071,0.010205,0.023308,0.114578,0.080843,0.054968,-0.136718,0.019237,0.032274,-0.162861
2,-0.045451,-0.035281,-0.039240,-0.005496,-0.055405,-0.040915,-0.107052,-0.104337,0.043057,-0.051816,-0.058410,-0.021382,0.001843,-0.037945,-0.044109,0.132812,0.050101,-0.009069,-0.070469,0.066642
3,0.060279,0.023046,-0.041200,-0.124293,-0.082482,-0.027949,-0.022796,0.073130,-0.022317,-0.029787,-0.115079,0.090105,-0.046250,-0.050747,-0.168406,-0.152765,-0.047719,-0.044086,-0.041644,0.098053
4,-0.054265,-0.009685,0.010485,0.039781,0.030647,-0.094164,0.061407,-0.007993,-0.064764,-0.004329,-0.027902,0.037140,-0.015209,0.012944,0.015857,0.058494,-0.006583,-0.076389,0.029959,0.059275

In [21]:
X, y = make_classification(n_samples=240, n_features=7, n_informative=2, n_redundant=1, random_state=1)
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = LogisticRegression(penalty='l2', dual=False, tol=0.01, C=1.0)
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.958 (0.042)